@media (max-width: 1000px){
    
    //text styles
    .x-large{
        font-size: 2.5rem;
    }
    .large{
        font-size: 1.5rem;
    }
    .showcase{
        grid-area: showcase;
        min-height: 400px;
    }
    .top-box-a{
        grid-area: top-box-a;
    }
    .top-box-b{
        grid-area: top-box-b;
    }
    .top-container{
        grid-template-areas: 
            'showcase showcase'
            'top-box-a top-box-b';
    }
    .navbar{
        ul{
            grid-template-columns: 1fr 1fr;
        }
    }
}

@media (max-width: 500px){
    .showcase{
        min-height: 350px;
    }
    .top-container{
        showcase{
            grid-area: showcase;
        }
        top-box-a{
            grid-area: top-box-a;
        }
        top-box-b{
            grid-area: top-box-b;
        }
        grid-template-areas: 
            'showcase'
            'top-box-a' 
            'top-box-b';
    }
    .navbar{
        grid-gap: 1rem;
        ul{
            grid-template-columns: 1fr;
        }
    }
}